<!DOCTYPE html>
<html>

<h1>View Patient's Measurements</h1>

<body>
  <h2>Hello {{clinician_name}}</h2>
  {% for abnormal_patient in abnormal_patient_list %}
  <h3 style="color:red">Alert: {{abnormal_patient.patient_name}} got abnormal reading !!!!!</h3>
  {% endfor %}
  {% if result_list %}
  <ul>
    {% for patient, measurement in result_list.items %}
    <a href="{% url 'measurements:clinicianViewPatientDetail' clinician_id patient.id %}">Patient Name:
      {{patient.patient_name}}</a>
    {% for item in measurement %}
    <li>
      <div>
        Heart Rate (BPM): {{ item.heart_rate }}
        <br>
        Blood Pressure (mmHg): {{ item.blood_pressure }}
        <br>
        Body Weight(kg): {{ item.body_weight }}
        <br>
        Submitted Date: {{ item.submitted_date }}
        <br><br>
      </div>
    </li>
    {% endfor %}
    {% endfor %}
  </ul>
  {% else %}
  <p>No measurements are recoards.</p>
  {% endif %}
  <a href="{% url 'users:clinicianLogout' clinician_id %}">
    <button>Logout</button>
  </a>
</body>

</html>