<!DOCTYPE html>
<html>

<h1>View Historical Measurements</h1>

<body>
  <h3>Patient Name: {{patient_name}}</h3>
  <a href="{% url 'measurements:fillInMeasurementPage' patient_id %}">
    <button>Input New Measurement</button>
  </a>
  {% if measurement_list %}
  <ul>
    {% for measurement in measurement_list %}
    <li>
      <div>
        Heart Rate (BPM): {{ measurement.heart_rate }}
        <br>
        Blood Pressure (mmHg): {{ measurement.blood_pressure }}
        <br>
        Body Weight(kg): {{ measurement.body_weight }}
        <br>
        Submitted Date: {{ measurement.submitted_date }}
        <br><br>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No measurements are recoards.</p>
  {% endif %}
  <a href="{% url 'users:patientLogout' patient_id %}">
    <button>Logout</button>
  </a>
</body>

</html>